body{
    display: flex;
    box-sizing: content-box;
    flex-wrap: wrap-reverse;

    min-height: 400px

}
.container{
    display: flex;
    justify-content: space-around;
    border: solid black;
    padding: 20px;
    gap: 10px;
    
}


.box{
    width: 200px;
    height: 200px;
    background-color: red;
    align-items: center;
    justify-items: center;
}